
@media (min-width: 576px) { 
    .card-columns {
        column-count: 1;
        column-gap: 0px;
    }

    .card {
    max-height: 250px;
    height: 250px;
    border-radius: 0px;
    margin: 0px !important;
}
 }

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
        column-gap: 0px;
    }
}

@media (min-width: 992px) { 
    .card-columns {
        column-count: 3;
        column-gap: 0px;
    }
}

@media (min-width: 1200px) { ... }